{% extends 'base.html' %}

{% block body %}
  <div class="m-5">
    <div class="alert alert-secondary d-flex justify-content-between align-items-center" role="alert">
      <div>Due Date: Content</div>
      <button class="btn btn-outline-dark" disabled>Complete</button>
    </div>
    {% for todo in todos %}
      <div class="alert alert-info d-flex justify-content-between align-items-center" role="alert">
        <div>
          {{todo.due_date}}: {{todo.content}}
        </div>
        <a href="{% url 'todo:delete' todo.id %}" class="btn btn-outline-info">Complete</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
